<form class="tui-container tui-container_adaptive" *ngIf="(config$ | async) as data" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div tuiGroup>
    <div>
      <tui-input-number
        class="tui-group__inherit-item"
        formControlName="cost"
        [postfix]="data.fields.cost.text"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"></tui-input-number>
    </div>
    <div>
      <tui-input-slider
        class="tui-group__inherit-item"
        formControlName="unit"
        [min]="2"
        [max]="1000"
        [quantum]="1"
        size="m"
        [pluralize]="data.fields.unit.pluralize"
        [tuiTextfieldLabelOutside]="true"></tui-input-slider>
    </div>
    <button
      class="tui-group__auto-width-item"
      tuiIconButton
      type="submit"
      size="m"
      icon="tuiIconPlus"
      appearance="secondary"
      [disabled]="buttonDisabled"
      (click)="onSave($event)"
    ></button>
    <button
      class="tui-group__auto-width-item"
      tuiIconButton
      type="button"
      size="m"
      icon="tuiIconCloseLarge"
      [disabled]="buttonDisabled"
      (click)="onClick($event)"
    ></button>
  </div>
</form>
