<form class="tui-container tui-container_adaptive" *ngIf="(list$ | async) as data" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div tuiGroup formArrayName="calculate">
    <div *ngFor="let _ of calculate.controls; index as i; trackBy: trackByIndex">
      <tui-input-number
        class="tui-group__inherit-item"
        [formControlName]="i"
        [postfix]="data.unit[i]"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"></tui-input-number>
    </div>
    <button
      class="tui-group__auto-width-item"
      tuiIconButton
      type="submit"
      size="m"
      icon="tuiIconPlus"
      appearance="secondary"
      [disabled]="buttonDisabled"
      (click)="onSave($event)"
    ></button>
    <button
      class="tui-group__auto-width-item"
      tuiIconButton
      type="button"
      size="m"
      icon="tuiIconCloseLarge"
      [disabled]="buttonDisabled"
      (click)="onReset($event)"
    ></button>
  </div>
</form>
