<section class="list" *ngIf="data.length" @tuiHeightCollapse>
  <div class="list__table-wrapper tui-space_bottom-3">
    <table class="list__table table tui-table">
      <tr class="tui-table__tr table__tr table__sticky shadow">
        <td class="tui-table__td table__td"></td>
        <td class="tui-table__td table__td" *ngFor="let item of title; trackBy: trackBy">{{item}}</td>
      </tr>
      <tr class="tui-table__tr table__tr" [class.best]="min === item[2]" *ngFor="let item of data; index as index; trackBy: trackBy">
        <td class="tui-table__td table__td">{{index + 1}}.</td>
        <td class="tui-table__td table__td" *ngFor="let value of item; index as i; trackBy: trackBy">
          {{value | tuiFormatNumber : null : ','}} <small>{{units[i]}}</small>
        </td>
      </tr>
    </table>
  </div>
  <div class="list__action">
    <button tuiButton size="s" type="button" appearance="primary" (click)="onClear($event)" icon="tuiIconTrash">
      Очистить
    </button>
  </div>
</section>
