<table class="tui-table tui-space_bottom-3">
  <tr class="tui-table__tr" *ngFor="let item of list$ | async; index as i">
    <td class="tui-table__td">{{i + 1}}.</td>
    <td class="tui-table__td" *ngFor="let value of item">{{value}}</td>
  </tr>
</table>

<!--<div class="tui-container tui-container_adaptive" *ngIf="data">-->
<!--  <section>-->
<!--    <table class="tui-table tui-space_bottom-3">-->
<!--      <thead>-->
<!--        <tr class="tui-table__tr">-->
<!--          <th class="tui-table__th"></th>-->
<!--          <th class="tui-table__th" *ngFor="let column of data.columns; trackBy: trackBy">-->
<!--            {{ title[column] }}-->
<!--          </th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr class="tui-table__tr" *ngFor="let item of data.list; index as i; trackBy: trackBy">-->
<!--        <td class="tui-table__td">{{i + 1}}.</td>-->
<!--        <td class="tui-table__td" *ngFor="let column of data.columns; trackBy: trackBy">-->
<!--          {{item[column] | tuiFormatNumber : null : '.'}} {{ unit[column] }}-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <div class="action">-->
<!--      <button tuiButton size="s" type="button" appearance="primary" (click)="onClear($event)" icon="tuiIconTrash">-->
<!--        Очистить-->
<!--      </button>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->
